/**
 * NexT for Typora
 * Brought to you by Bill Chen || https://github.com/BillChen2K/typora-theme-next
 *
 * - Want code ligatures for JetBrains Mono?
 * - Search for `font-variant-ligatures: none;` and comment that line.
 *
 * - Want to change the font size in exported pdf?
 * - Change the variable `--export-font-size` below.
 **/

.md-rawblock-control:not(.md-rawblock-tooltip) {
    background: #555;
    color: #fff;
}

.md-rawblock-on-edit>.md-rawblock-tooltip,
.md-rawblock:hover>.md-rawblock-container,
.md-rawblock:hover>.md-rawblock-tooltip {
    background: #555;
    color: #fff;
}

:root {
    --base-font-size: 16px;
    --highlight-color: rgb(0, 200, 200);
    --text-color: #DDD;
    --headings-color: #DDD;
    --export-font-size: 13px;
    --bg-color: #333;
    --bg-highlight: #282828;
    --bg-dark: #222;
    --border-dark: #555;
    --select-text-bg-color: #111;
    --select-text-font-color: #ddd;
    --item-hover-bg-color: #333;
}


/* code color
 This part cames from Vue Dark */

.cm-s-inner .cm-keyword {
    color: #bb7fc3
}

.cm-s-inner .cm-atom,
.cm-s-inner.cm-atom {
    color: #9088cc
}

.cm-s-inner .cm-number {
    color: #88b2a1
}

.cm-s-inner .cm-def {
    color: #7f7fff
}

.cm-s-inner .cm-variable {
    color: #efefef
}

.cm-s-inner .cm-variable-2 {
    color: #7faad4
}

.cm-s-inner .cm-variable-3 {
    color: #7fc3aa
}

.cm-s-inner .cm-string {
    color: #d48888
}

.cm-s-inner .cm-property {
    color: #efefef
}

.cm-s-inner .cm-operator {
    color: #cb8c8c
}

.cm-s-inner .cm-comment,
.cm-s-inner.cm-comment {
    color: hsl(0, 0%, 35%)
}

.cm-s-inner .cm-string-2 {
    color: #ffaa7f
}

.cm-s-inner .cm-meta {
    color: hsl(0, 0%, 33%)
}

.cm-s-inner .cm-qualifier {
    color: hsl(0, 0%, 33%)
}

.cm-s-inner .cm-builtin {
    color: #997fd4
}

.cm-s-inner .cm-bracket {
    color: #ccccbb
}

.cm-s-inner .cm-tag {
    color: #88bb7f
}

.cm-s-inner .cm-attribute {
    color: #7f7fe5
}

.cm-s-inner .cm-header,
.cm-s-inner.cm-header {
    color: #7f7fff
}

.cm-s-inner .cm-quote,
.cm-s-inner.cm-quote {
    color: #7fcc7f
}

.cm-s-inner .cm-hr,
.cm-s-inner.cm-hr {
    color: hsl(0, 0%, 60%)
}

.cm-s-inner .cm-link,
.cm-s-inner.cm-link {
    color: #7f7fe5
}

.cm-negative {
    color: #eea1a1
}

.cm-positive {
    color: #90cc90
}

.cm-header,
.cm-strong {
    font-weight: 700
}

.cm-error {
    color: #ff7f7f
}

.cm-invalidchar {
    color: #ff7f7f
}

.cm-constant {
    color: #42b983
}

.cm-defined {
    color: #dac37f
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #7fff7f
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: #ff9090
}

.CodeMirror div.CodeMirror-cursor{
    border-left: 1px solid var(--text-color);
    z-index: 3;
}

.cm-s-typora-default .cm-code, .cm-s-typora-default .cm-comment{
    color: #8398f1;
}

.cm-s-typora-default .CodeMirror-activeline-background {

    background-color: var(--bg-highlight);
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09); */
}

@font-face {
    font-family: 'GlowSansSC';
    font-weight: 400;
    font-style: normal;
    src: url('next/GlowSansSC-Normal-Book.otf') format('opentype')
}

@font-face {
    font-family: 'GlowSansSC';
    font-weight: bold;
    font-style: normal;
    src: url('next/GlowSansSC-Normal-Bold.otf') format('opentype')
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('next/JetBrainsMono-Regular.eot') format('embedded-opentype'), url('next/JetBrainsMono-Regular.woff2') format('woff2'), url('next/JetBrainsMono-Regular.woff') format('woff'), url('next/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    /* Disable ligatures */
    font-variant-ligatures: none;
}


/* latin-ext */

@font-face {
    font-family: 'Overpass';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Overpass Light Italic'), local('Overpass-LightItalic'), url(next/qFdC35WCmI96Ajtm81Gga3LI0hYojnA4PLDzOA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Overpass';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Overpass Light Italic'), local('Overpass-LightItalic'), url(next/qFdC35WCmI96Ajtm81Gga3LI0hgojnA4PLA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin-ext */

@font-face {
    font-family: 'Overpass';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Overpass Italic'), local('Overpass-Italic'), url(next/qFdB35WCmI96Ajtm81GgY9fqxzUKg1oCNQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Overpass';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Overpass Italic'), local('Overpass-Italic'), url(next/qFdB35WCmI96Ajtm81GgY9nqxzUKg1o.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin-ext */

@font-face {
    font-family: 'Overpass';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Overpass Bold Italic'), local('Overpass-BoldItalic'), url(next/qFdC35WCmI96Ajtm81Gga2LP0hYojnA4PLDzOA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Overpass';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Overpass Bold Italic'), local('Overpass-BoldItalic'), url(next/qFdC35WCmI96Ajtm81Gga2LP0hgojnA4PLA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin-ext */

@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Overpass Light'), local('Overpass-Light'), url(next/qFdA35WCmI96Ajtm81kOcc7D4hoiiVI6DLE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Overpass Light'), local('Overpass-Light'), url(next/qFdA35WCmI96Ajtm81kOcc7N4hoiiVI6.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin-ext */

@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Overpass Regular'), local('Overpass-Regular'), url(next/qFdH35WCmI96Ajtm81GrU9vgwBcIs1s.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Overpass Regular'), local('Overpass-Regular'), url(next/qFdH35WCmI96Ajtm81GlU9vgwBcI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin-ext */

@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Overpass Bold'), local('Overpass-Bold'), url(next/qFdA35WCmI96Ajtm81keds7D4hoiiVI6DLE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Overpass Bold'), local('Overpass-Bold'), url(next/qFdA35WCmI96Ajtm81keds7N4hoiiVI6.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* *::selection {
    background: #111;
    color: #DDD;
} */

html,
body,
#write {
    color: var(--text-color);
    font-size: var(--base-font-size);
    background: #333;
    font-family: Overpass, "GlowSansSC", "Helvetica Neue", "pingfang sc", "microsoft yahei", sans-serif;
    font-weight: 400;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    /* letter-spacing: -0.5px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--headings-color);
    font-weight: 700;
    line-height: 1.5;
    margin: 20px 0 15px
}

.CodeMirror pre {
    font-family: 'JetBrains Mono';
    font-size: 0.95em;
    line-height: 1.65em;
}

#write {
    max-width: 914px;
    text-align: justify;
}

#write>h1:first-child {
    margin-top: 1.75rem;
}

#write>h2:first-child {
    margin-top: 1.5rem;
}

#write>h3:first-child {
    margin-top: 1rem;
}

#write>h4:first-child {
    margin-top: 0.5rem;
}

h1 {
    font-size: 2.5em
}

h2 {
    font-size: 1.75 em
}

h3 {
    font-size: 1.45em
}

h4 {
    font-size: 1.25em
}

h5 {
    font-size: 1.1em
}

h6 {
    font-size: 1em;
    font-weight: bold
}

#write code {
    color: var(--highlight-color);
}

p {
    color: var(--text-color);
    line-height: 1.75rem;
    margin: 0 0 7.5px;
}

#write ul {
    line-height: 1.75rem;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}

#write ol li {
    line-height: 1.75rem;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}

u {
    text-decoration: none;
    border-bottom: 1px solid #999;
}

#write>h3.md-focus:before {
    left: -1.875rem;
    top: 0.5rem;
    padding: 2px;
}

#write>h4.md-focus:before {
    left: -1.875rem;
    top: 0.3125rem;
    padding: 2px;
}

#write>h5.md-focus:before {
    left: -1.875rem;
    top: 0.25rem;
    padding: 2px;
}

#write>h6.md-focus:before {
    left: -1.875rem;
    top: .125rem;
    padding: 2px;
}

@media screen and (max-width: 48em) {
    blockquote {
        margin-left: 1rem;
        margin-right: 0;
        padding: 0.5em;
    }
    /* .h1,
    h1 {
        font-size: 2.827rem;
    }
    .h2,
    h2 {
        font-size: 1.999rem;
    }
    .h3,
    h3 {
        font-size: 1.413rem;
    }
    .h4,
    h4 {
        font-size: 1.250rem;
    }
    .h5,
    h5 {
        font-size: 1.150rem;
    }
    .h6,
    h6 {
        font-size: 1rem;
    } */
}

a .md-def-url {
    color: #262a30;
}

a {
    color: var(--highlight-color);
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    margin: 0 0 20px;
    width: 100%;
}

table tr:nth-child(2n - 1),
thead {
    background-color: var(--bg-highlight);
}

tbody tr:hover {
    background: var(--bg-color)
}

caption,
td,
th {
    font-weight: 400;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}

td,
th {
    border: 1px solid #555;
}

table tr th {
    border-bottom: 3px solid #555;
    font-weight: 700;
    padding-bottom: 10px;
    background-color: var(--bg-color);
}

td {
    border-bottom-width: 1px
}


/* Inline Code */

code,
.md-fences {
    background: var(--bg-dark);
    border-radius: 3px;
    color: var(--text-color);
    padding: 2px 4px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-size: 0.935em;
    caret-color: var(--text-color);
}


/* Code Blocks */

.md-fences {
    margin: 0 0 20px;
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.4em 1em;
    color: var(--text-color);

    padding-top: 0.4em;
    caret-color: var(--text-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
}

.task-list {
    padding-left: 0;
}

.task-list-item {
    padding-left: 2rem;
}

.task-list-item input {
    top: 3px;
}

.task-list-item input {
    outline: none;
    margin-bottom: 0.5em;
}

.task-list-item input::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #ddd;
    background-color: var(--bg-dark);
    margin-left: -0.1rem;
    margin-right: 0.1rem;
    margin-top: -0.9rem;
}

.task-list-item input:checked::before {
    padding-left: 0.125em;
    content: '✔';
    color: #ddd;
    /*◘*/
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    margin-top: -0.9rem;
}


/* Chrome 29+ */

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .task-list-item input:before {
        margin-top: -0.2rem;
    }
    .task-list-item input:checked:before,
    .task-list-item input[checked]:before {
        margin-top: -0.2rem;
    }
}

blockquote {
    border-left: 4px solid #ddd;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0 15px
}

blockquote p {
    color: #aaa;
}

blockquote cite::before {
    content: '-';
    padding: 0 5px
}

#write pre.md-meta-block {
    padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--bg-dark);
    border: 0;
    border-radius: 3px;
    color: hsl(0, 0%, 53%);
    margin-top: 0 !important;
    margin-bottom: 2em;
    font-size: 0.8em;
    line-height: 1.5em;
    font-family: 'JetBrains Mono';
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
}

.MathJax_Display {
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

p.mathjax-block,
.mathjax-block {
    padding-bottom: 0;
}

.mathjax-block>.code-tooltip {
    bottom: 5px;
    box-shadow: none;
}

.md-image>.md-meta {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.md-image>img {
    margin-top: 2px;
}

.md-image>.md-meta:first-of-type:before {
    padding-left: 4px;
}

#typora-source {
    color: #aaa;
}


/** ui for windows **/


#md-searchpanel {
    border-bottom: 1px solid #ccc;
}

#md-searchpanel .btn {
    border: 1px solid #ccc;
}

#md-notification:before {
    top: 14px;
}

#md-notification {
    background: var(--bg-highlight);
}

.megamenu-menu-panel .btn {
    border: 1px solid #ccc;
}

#write>h3.md-focus:before {
    left: -1.5625rem;
    top: .375rem;
}

#write>h4.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write>h5.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write>h6.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

.md-image>.md-meta {
    border-radius: 3px;
    padding: 2px 0 0 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: inherit;
}

.md-toc {
    margin-top: 20px;
    padding-bottom: 5px;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-sidebar {
    background-color: #282828;
}

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    background-color: #FAFAFA;
    border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

#md-notification:before {
    top: 10px;
}


/** focus mode */

.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state {
    visibility: visible;
}

.md-lang {
    color: #b4654d;
}

.html-for-mac .context-menu {
    --item-hover-bg-color: #E6F0FE;
}

.file-tree-node {
    margin-top: 8px;
    margin-bottom: 8px;
}

.file-node-title {
    padding-top: 2px;
}

.outline-item {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

/* Search panel & UI */


#md-searchpanel input {
    box-shadow: none;
}


#md-searchpanel .btn {
    border: none;
}


.modal-content {
    border-color: #aaa;
}

.searchpanel-search-option-btn {
    border-color: #aaa;
    border-radius: 0;
}

.modal-dialog .btn {
    background: #222;
    border-width: 2px;
    border-color: #222;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: .875em;
    line-height: 2rem;
    padding: 0 20px;
    margin: 5px;
    text-decoration: none;
    transition-delay: 0s;
    transition-duration: .2s;
    transition-timing-function: ease-in-out
}

.modal-dialog .btn:hover {
    background: #eee;
    border-color: #222;
    color: #222;
}


/* Printing issue */

.typora-export * {
    -webkit-print-color-adjust: exact;
}

.typora-export p {
    font-size: var(--export-font-size) !important;
}

.typora-export li {
    font-size: var(--export-font-size);
    line-height: 2rem;
}

.typora-export #write {
    font-size: var(--export-font-size) !important;
}

table,
pre {
    page-break-inside: avoid;
}

pre {
    word-wrap: break-word;
}

.file-tree-node.active .file-node-background {
    background-color: #333;
}

.file-list-item.active {
    background-color: #333;
}

.file-list-item {
    border-color: #555;
}

.sidebar-footer {
    border-top-color: #555
}

.CodeMirror-gutters {
    border-right-color: #555;
}


hr {
    background-image: repeating-linear-gradient(-45deg, #ddd, #ddd 4px, transparent 4px, transparent 8px);
    border: 0;
    height: 3px;
    margin: 40px 0
}

.megamenu-content,
.megamenu-opened header {
    background: var(--bg-color);
}

.megamenu-menu-panel h2,
.megamenu-menu-panel h1,
.long-btn {
    color: inherit;
}

.megamenu-menu-panel input[type='text'] {
    background: inherit;
    border: 0;
    border-bottom: 1px solid;
}

#recent-file-panel-action-btn {
    background: inherit;
    border: 1px grey solid;
}

.megamenu-menu-panel .dropdown-menu>li>a {
    color: inherit;
    background-color: #2F353A;
    text-decoration: none;
}

.megamenu-menu-panel table td:nth-child(1) {
    color: inherit;
    font-weight: bold;
}

.megamenu-menu-panel tbody tr:hover td:nth-child(1) {
    color: white;
}


.megamenu-menu {
    background-color: var(--bg-dark);
}

.megamenu-menu-list:not(.saved) li a:hover, .megamenu-menu-list li a.active {
    background-color: var(--bg-color);

}

#recent-file-panel tbody tr:nth-child(2n - 1){
    background-color: var(--bg-highlight)
}

.ty-preferences {
    transition-duration: 0.3s;
}


.ty-preferences .btn-default {
    background: transparent;
}
.ty-preferences .btn-default:hover {
    background: #555 !important
}

.ty-preferences select {
    border: 1px solid #222;
    height: 21px;
}

.ty-preferences .nav-group-item.active {
    background: var(--bg-dark);
    border-radius: 0;
}

.ty-preferences .nav-group-item {
    background: var(--bg-dark);
    border-radius: 0;
}

.ty-preferences input[type="search"] {
    border-color: #333;
    background: #333;
    line-height: 22px;
    color: white;
}

.ty-preferences input[type="search"]:focus {
    box-shadow: none;
}